html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Rubik', sans-serif;
}


.dropdown-content {
    text-decoration: none;
    display:none;
    position:absolute;
    border-color: solid rgb(111, 198, 219) 3px;

}

.dropdown-content a {
    color:black;
    text-decoration:none;
    display:block;
    padding:10px 10px 10px 10px;

}

.dropdown {
    border-color:rgb(111, 198, 219);
    transition: background-color 1s;
    color: black;
    font-weight: bold;
    right:20px;
}

.dropbtn:focus .dropdown-content {
    display:block;
    right:30px;
    margin-top:80px;
    animation-duration: 2s;
    border: solid rgb(152, 200, 214) 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;


}

.downloadbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 20px 100px 20px 100px;
    margin: 5px 20px 0px 20px;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    font-weight:bold;
    width:fit-content;
 
}

.downloadbtn:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}


.dropbtn:hover {
    text-decoration:none;
}

header {
    padding-bottom:1px;
    background-color:rgb(182, 227, 241);
    position:fixed;
    top:0;
    width:100%;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 20px 100px 20px 100px;
    margin: 15px 20px 15px 20px;
    float:right;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    font-weight:bold;
    width:fit-content;

}

.dropbtn:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    
}

.feedback-btn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 20px 100px 20px 100px;
    margin: 15px 20px 15px 20px;
    float:right;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    font-weight:bold;
    width:fit-content;
}

.feedback-btn:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
}


#sql-logo {
    width: 120px;
    margin-top: 20px;
    float:left;

}

#watermark-1 {
    position:absolute;
    opacity:0.5;
    color:rgb(202, 199, 199);
    transform: rotate(-30deg);
}

.ändern-tabelle-watermark-1 p {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
}

main {
    padding-bottom: 3cm;
    margin-left: 180px;
    margin-right: 180px;
    padding-left: 300px;
    padding-right: 300px;
    border:solid rgb(152, 200, 214) 10px;
    box-shadow: 0px 10px 80px 15px rgb(152, 200, 214); ;
    background-color: rgb(152, 200, 214);
}

#was-ist-sql {
    text-align: center;
}

#hr-1 { 
    border:solid rgb(38, 119, 199) 3px;
    border-radius:10px 10px 10px 10px;
    margin-top:50px;
    margin-bottom:auto;
    width:1000px;
}

#relationale-datenbanken {
    text-align:center;
}

.n-abschnitt {
    border: rgb(111, 198, 219);
}


footer {
    
    background-color:rgb(182, 227, 241);
    position: relative;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
    bottom:0px;
    margin:0;
    padding: 0 0 0 20px;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;


}

.copyright {
    bottom:0px;
    text-align: center;
    padding:0;
    font-size: 13px;
    margin-top: 60px;
}

.r-d-abschnitt {
    width:600px;
    margin:0 auto;
}

#img-groupby-beispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#r-d-img {
    margin:0 auto;
    width:700px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#zweite-normalform {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#erste-normalform {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#dritte-normalform-kundenbeispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#dritte-normalform-beispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#sql-modellieren {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#ddl-statement {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 550px;

}

.eins {
    color:green;
    font-weight: bold;
}

.zwei {
    color:blue;
    font-weight: bold;

}

.drei {
    color:red;
    font-weight: bold;

}

.vier {
    color:orange;
    font-weight: bold;

}

.fünf {
    color:green;
    font-weight: bold;

}

.sechs {
    color:purple;
    font-weight: bold;

}

.sieben {
    color:green;
    font-weight: bold;

}

.acht {
    color:blue;
    font-weight: bold;

}

.neun {
    color:green;
    font-weight: bold;

}

#instagram-logo {
    width: 65px;
    float:right;
    margin-top: 50px;
    margin-right: 40px;
}

#instagram-logo:hover {
    cursor:pointer;
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}

.kontaktinfos-content p {
    margin: 7px;
}

.kontaktinfos-content {
    margin-left: 25px;
}

#kontaktinfos-titel {
    text-decoration: underline;
    padding-top: 50px;
    margin-top:0px;
    margin-left:30px;
}

#links-titel {
    margin-left:30px;
}

main div, h1 {
    width: 600px;
    margin:0 auto;
    text-align: center;
}

h1 {
    margin-top:8cm;
}

h3 {
    margin-top: 4cm;
}

#sql-modellieren {
    text-align: center;
}

.modellieren {
    background-color: rgb(152, 191, 218);
    border-radius: 30px;
    display:flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    margin-top: 50px;
}

.pk p {
    background-color:yellow;
border-radius:30px;
}

.fk p {
    background-color:rgb(255, 0, 0);
    border-radius:30px;

}


#create-database {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#img-normalisieren {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#img-same {
    margin:0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#pk-img {
    padding-top:20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#create-table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#show-databases {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mouse {
	max-width: 3rem;
	width: 200%;
    height: auto;
    background-color:rgb(152, 200, 214);
    bottom:0;
    border-radius: 300px;
    padding:0px;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
    opacity: 1;
    position: relative;
}

.scroll-link {
	position: fixed;
	bottom: 1rem;
	right:20px;
	transform: translateX(-50%);
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}
