html {
    scroll-behavior: smooth;
    margin:0;
}

body {
    margin:0;
    font-family: 'Rubik', sans-serif;
}


.dropdown-content {
    text-decoration: none;
    display:none;
    position:absolute;
    border-color: solid rgb(101, 153, 168) 3px;

}

.dropdown-content a {
    color:black;
    text-decoration:none;
    display:block;
    padding:10px 10px 10px 10px;

}



.dropdown-content a:hover {
    background-color:rgb(182, 227, 241);
    border-radius:15px 15px 15px 15px;
    width:100%;

}

.dropdown {
    border-color:rgb(101, 153, 168);
    transition: background-color 1s;
    color: black;
    right:20px;
}


.dropdown:hover .dropdown-content {
    display:block;
    position:fixed;
    right:0px;
    margin-top:66px;
    border: solid rgb(152, 200, 214) 3px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
    background-color: rgb(152, 200, 214);
    padding:10px 30px 10px 30px;
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    font-size:16px;

}

.downloadbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 20px 100px 20px 100px;
    margin: 5px 20px 0px 20px;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    font-weight:bold;
    width:fit-content;
 
}

.downloadbtn:hover {
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    cursor: pointer;

}


.dropbtn:hover {
    text-decoration:none;
}

header {
    padding-bottom:1px;
    background-color:rgb(182, 227, 241);
    position:fixed;
    top:0;
    width:100%;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 15px 100px 15px 100px;
    margin: 15px 20px 0px 20px;
    float:right;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    width:fit-content;
    font-size: 18px;

}

.dropbtn-1 {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 15px 100px 15px 100px;
    margin: 15px 20px 0px 20px;
    text-align: center;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    width:fit-content;
    font-size: 18px;

}

.dropbtn-2 {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 15px 100px 15px 100px;
    margin: 15px 20px 0px 20px;
    text-align:center;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    width:fit-content;
    font-size: 18px;

}

.dropbtn-1:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}

.dropbtn-2:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}

.dropbtn:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    
}



#sql-logo {
    width: 120px;
    margin-top: 8px;
    margin-bottom: 15px;
    float:left;

}

#watermark-1 {
    position:absolute;
    opacity:0.5;
    color:rgb(202, 199, 199);
    transform: rotate(-30deg);
}

.채ndern-tabelle-watermark-1 p {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
}

main {
    padding-bottom: 6cm;
    margin-left: 210px;
    margin-right: 210px;
    border:solid rgb(152, 200, 214) 10px;
    box-shadow: 0px 10px 80px 15px rgb(152, 200, 214); ;
    background-color: rgb(152, 200, 214);
}

#was-ist-sql {
    text-align: center;
}

#hr-1 { 
    border:solid rgb(139, 173, 197) 3px;
    border-radius:10px 10px 10px 10px;
    margin-top: 250px;
    margin-bottom: 100px;
    width:100%;
}


#relationale-datenbanken {
    text-align:center;
}

.n-abschnitt {
    border: rgb(111, 198, 219);
}


footer {
    
    background-color:rgb(182, 227, 241);
    position: relative;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
    bottom:0px;
    margin:0;
    padding: 0 0 0 20px;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width:100%;


}

.copyright {
    bottom:0px;
    text-align: center;
    padding:0;
    font-size: 13px;
    margin-top:20px;

}

.r-d-abschnitt {
    width:600px;
    margin:0 auto;
}


#char-varchar {
    width:700px;
    margin:0 auto;
    display:flex;
    justify-content: center;
}

#img-innerjoin {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:600px;
    transition: transform 0.2s;
}

#img-rightjoin {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:600px;

}

#img-innerjoin:hover {
    transform: scale (2, 2);
}

#img-drop-database {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#img-groupby-beispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display:flex;
    justify-content: center;
}

.img-grant {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;

}

#r-d-img {
    margin:0 auto;
    width:700px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#img-alljoins {
    width:400px;
    margin-top:15px;
}

#zweite-normalform {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#erste-normalform {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#dritte-normalform-kundenbeispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#dritte-normalform-beispiel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#sql-modellieren {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left:0px;
    margin-right: 200px;

}

#ddl-statement {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 550px;

}

img {
    display:flex;
    justify-content: center;
}

.tg {
    margin:0 auto;
    width:800px;
}

.update-set {
    margin:20px 0 20px 0;
}

.gruppieren-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.datensatz-bearbeiten-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

#img-update-set {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.having-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.wert-einf체gen-bsp-1 {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.wert-einf체gen-bsp-2 {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;
  
}

.rechte-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.rechte-entziehen-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.bulk-load-bsp {
    border-top-left-radius: 30px;

    border-top-right-radius: 30px;

    border-bottom-left-radius: 30px; 

    border-bottom-right-radius: 30px;

    border: solid rgb(80, 145, 165) 3px;

    transition: background-color 1s;

    margin-bottom: 20px;

}

.eins {
    color:green;
    font-weight: bold;
}

.zwei {
    color:blue;
    font-weight: bold;

}

.drei {
    color:red;
    font-weight: bold;

}

.vier {
    color:orange;
    font-weight: bold;

}

.f체nf {
    color:green;
    font-weight: bold;

}

.sechs {
    color:purple;
    font-weight: bold;

}

.sieben {
    color:green;
    font-weight: bold;

}

.acht {
    color:blue;
    font-weight: bold;

}

.neun {
    color:green;
    font-weight: bold;

}

#instagram-logo {
    width: 65px;
    float:right;
    margin-top: 50px;
    margin-right: 40px;
}

#instagram-logo:hover {
    cursor:pointer;
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}


.kontaktinfos-content p {
    margin: 7px;
}

.kontaktinfos-content {
    margin-left: 25px;
}

#kontaktinfos-titel {
    text-decoration: underline;
    padding-top: 50px;
    margin-top:0px;
    margin-left:30px;
    text-align: justify;
}

.kontaktinfos div.links {
    display: flex;
    flex-direction: row;
}

#links-titel {
    margin-left:30px;
    text-align: justify;
}



main div,h1,h3,h4  {
    text-align: center;
    margin:0 auto;
}

main div {
    width:600px;
}

main img {
margin:0 auto;
text-align: center;
}

h1 {
    margin-bottom: 40px;
}

h3 {
    margin-top: 200px;
}

h4 {
    margin-top: 100px; 
}


.modellieren {
    background-color: rgb(152, 191, 218);
    border-radius: 30px;
    display:flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    margin-top: 50px;
}

.pk p {
    background-color:yellow;
border-radius:30px;
}

.fk p {
    background-color:rgb(255, 0, 0);
    border-radius:30px;

}


#create-database {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#img-normalisieren {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#img-same {
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#pk-img {
    margin-top:20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#create-table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#show-databases {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}


.tg  {border-radius: 20px 20px 20px 20px;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-r2sj{font-size:16px;background-color:#98bfda;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-koor{font-size:16px;background-color:#98bfda;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-nj5a{font-weight:bold;font-size:16px;background-color:#98bfda;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-fbea{font-weight:bold;font-size:16px;background-color:#98bfda;color:#000000;border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-zd5i{font-size:14px;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
