html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Rubik', sans-serif;
}


.dropdown-content {
    text-decoration: none;
    display:none;
    position:absolute;
}

.dropdown-content a {
    color:black;
    text-decoration:none;
    display:block;
    padding:10px 10px 10px 10px;

}

.dropdown {
    position:relative;
    display:inline-block;
    border-color:rgb(111, 198, 219);
    transition: background-color 1s;
    color: black;
    font-weight: bold;
}


header {
    padding-bottom:5px;
    background-color:rgb(182, 227, 241);
    position:fixed;
    top:0;
    width:100%;
    box-shadow: 0px 0px 80px rgb(38, 119, 199);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 10px 100px 10px 100px;
    margin: 30px 20px 35px 20px;
    float:right;
    background-color: lightblue;
    border-color:rgb(111, 198, 219);
    transition: background-color 1s;
    color: black;
    font-weight: bold;
    border-bottom:none;
    width:fit-content;

}

.dropbtn:hover {
    cursor:pointer;
    background-color: rgb(38, 119, 199);
    
}


#sql-logo {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 5px;
    float:left;

}

main {
    padding-bottom: 3cm;
    margin-left: 180px;
    margin-right: 180px;
    padding-left: 300px;
    padding-right: 300px;
    border:solid rgb(152, 200, 214) 10px;
    box-shadow: 0px 10px 80px 15px rgb(152, 200, 214); ;
    background-color: rgb(152, 200, 214);
}

#was-ist-sql {
    text-align: center;
}

#hr-1 { 
    border:solid rgb(38, 119, 199) 3px;
    border-radius:10px 10px 10px 10px;
    margin-top:50px;
    margin-bottom:auto;
    width:1000px;
}

#relationale-datenbanken {
    text-align:center;
}

.n-abschnitt {
    border: rgb(111, 198, 219);
}

#ddl-statement {
    width:500px;
    border-color: rgb(111, 198, 219);
}

footer {
    
    background-color:rgb(182, 227, 241);
    position: relative;
    box-shadow: 0px 0px 80px rgb(38, 119, 199);
    bottom:0px;
    margin:0;
    padding: 0 0 0 20px;  
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;


}

.copyright {
    bottom:0px;
    text-align: center;
    padding:0;
    font-size: 12px;
    margin-top: 150px;
}

.r-d-abschnitt {
    width:600px;
    margin:0 auto;
}

#r-d-img {
    margin:0 auto;
    width:700px;
}



#instagram-logo {
    width: 65px;
    float:right;
    margin-top: 50px;
    margin-right: 40px;
}

.kontaktinfos-content p {
    margin: 7px;
}

.kontaktinfos-content {
    margin-left: 25px;
}

#kontaktinfos-titel {
    text-decoration: underline;
    padding-top: 50px;
    margin-top:0px;
    margin-left:30px;
}

main div, h1 {
    width: 600px;
    margin:0 auto;
    text-align: center;
}

h1 {
    margin-top:8cm;
}

h3 {
    margin-top: 4cm;
}

#sql-modellieren {
    text-align: center;
}

.modellieren {
    background-color: rgb(152, 191, 218);
    border-radius: 30px;
    display:flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    margin-top: 50px;
}

.pk p {
    background-color:yellow;
border-radius:30px;
}

.fk p {
    background-color:rgb(255, 0, 0);
    border-radius:30px;

}

#img-same {
    margin:0 auto;
    border-radius: 10px 10px 10px 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mouse {
	max-width: 3rem;
	width: 200%;
    height: auto;
    background-color:rgb(152, 191, 218);
    bottom:0;
    border-radius: 300px;
    padding:0px;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
    opacity: 1;
    position: relative;
}

.scroll-link {
	position: fixed;
	bottom: 1rem;
	right:20px;
	transform: translateX(-50%);
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}
